<div class="mt-8">
    <h3 class="mb-3 text-xl font-medium">Referencias</h3>

    <div
        class="my-4 rounded-lg bg-blue-50 p-4 text-sm text-blue-800"
        role="alert"
    >
        Seleccione una o varias referencias para asociarlas automáticamente a la sesión.
    </div>

    <dl
        *ngFor="let template of templates; trackBy: trackByTemplate"
        class="mt-4 rounded-xl bg-zinc-100 p-4"
    >
        <div class="flex flex-col">
            <dt class="mb-1 text-gray-500">
                <span class="mx-1">#{{ template.id }}</span>
                <span class="mx-1">{{ template.name }}</span>
                <span class="mx-1"> ({{ template.documents?.length ?? 0 }} documentos)</span>
            </dt>

            <dd class="mt-4 text-lg font-semibold">
                <details
                    *ngIf="template.documents?.length"
                    class="mb-4 rounded-xl bg-zinc-200 p-4"
                >
                    <summary>Documentos</summary>

                    <div
                        *ngFor="let document of template.documents; trackBy: trackByDocument"
                        class="mt-4 rounded-xl bg-zinc-300 p-4"
                    >
                        <div class="flex items-center justify-between border-b pb-4">
                            <h5>{{ document.id }}</h5>

                            <div class="flex items-center gap-2">
                                <ng-container
                                    *ngIf="extractSignatures(document.rawContent) as result"
                                >
                                    <ng-container
                                        *ngIf="result.current === result.total; else notCompleted"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="h-6 w-6 text-green-800"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
                                            />
                                        </svg>

                                        <span class="text-green-800"
                                            >Firmado ({{ result.current }} / {{ result.total }})
                                        </span>
                                    </ng-container>

                                    <ng-template #notCompleted>
                                        <span class="text-zinc-600">
                                            Firmas ({{ result.current }} / {{ result.total }})
                                        </span>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>

                        <div
                            *ngIf="document.metadata"
                            class="my-4 overflow-x-auto"
                        >
                            <pre><code>{{ parseMetadata(document.metadata) }}</code></pre>
                        </div>

                        <details
                            *ngIf="template.documents?.length"
                            class="mb-4 rounded-xl bg-zinc-200 p-4"
                        >
                            <summary>Ver documento</summary>

                            <div
                                class="prose my-4"
                                [innerHTML]="
                                    parseMarkdown(document.rawContent, document.metadata ?? '')
                                "
                            ></div>
                        </details>

                        <div class="flex items-center gap-2">
                            <button
                                *ngIf="template.id"
                                class="inline-flex items-center rounded-md bg-blue-500 px-4 py-2 text-sm font-semibold leading-6 text-white shadow transition duration-150 ease-in-out hover:bg-blue-400"
                                (click)="handleReferenceOpening(template, document)"
                            >
                                Abrir referencia (existente)
                            </button>
                        </div>
                    </div>
                </details>

                <div class="flex items-center gap-2">
                    <button
                        *ngIf="!template.id"
                        class="inline-flex items-center rounded-md bg-blue-500 px-4 py-2 text-sm font-semibold leading-6 text-white shadow transition duration-150 ease-in-out hover:bg-blue-400"
                        (click)="createReference.emit(template)"
                    >
                        Crear referencia
                    </button>

                    <button
                        *ngIf="template.id"
                        class="inline-flex items-center rounded-md bg-blue-500 px-4 py-2 text-sm font-semibold leading-6 text-white shadow transition duration-150 ease-in-out hover:bg-blue-400"
                        (click)="handleReferenceOpening(template)"
                    >
                        Abrir referencia (nueva)
                    </button>

                    <button
                        *ngIf="template.id"
                        class="inline-flex items-center rounded-md bg-red-500 px-4 py-2 text-sm font-semibold leading-6 text-white shadow transition duration-150 ease-in-out hover:bg-red-400"
                        (click)="deleteReference.emit(template.id)"
                    >
                        Eliminar referencia
                    </button>
                </div>
            </dd>
        </div>
    </dl>
</div>
