<app-toolbar>
    <button
        *ngIf="session()"
        type="button"
        class="inline-flex items-center rounded-md bg-red-500 px-4 py-2 text-sm font-semibold leading-6 text-white shadow transition duration-150 ease-in-out hover:bg-red-400"
        (click)="destroySession()"
    >
        Destruir sesión
    </button>
</app-toolbar>

<main class="mx-auto mt-12 max-w-screen-lg">
    <ng-container *ngIf="session() as currentSession; else noSession">
        <section class="grid grid-cols-1 gap-6 lg:grid-cols-3">
            <app-qr-view [code]="currentSession.pairingKey" />

            <div class="col-span-2">
                <app-connection-info [session]="currentSession" />
            </div>
        </section>

        <section class="mt-6 grid grid-cols-1 gap-6">
            <app-references
                [session]="currentSession"
                (createReference)="createReference($event)"
                (deleteReference)="deleteReference($event)"
                (openReference)="openReference($event)"
            />
        </section>
    </ng-container>

    <ng-template #noSession>
        <div class="mt-36 grid place-items-center">
            <button
                type="button"
                class="inline-flex items-center rounded-md bg-blue-500 px-4 py-2 text-sm font-semibold leading-6 text-white shadow transition duration-150 ease-in-out hover:bg-blue-400"
                (click)="createSession()"
            >
                Crear sesión
            </button>
        </div>
    </ng-template>
</main>
